@import "../styles/media";

header.header {
  border-bottom: 1px solid black;

  div {
    margin: 0 auto;
    width: 85%;
    h1 {
      padding: 1rem 0;
      font-size: 2rem;
      color: #222222;
    }
  }

  @include pc {
    div {
      width: 800px;
    }
  };  
}
